{{!< default}}
<ol id="posts-list" class="top-posts">
	{{#foreach posts}}
	<li style="background: url({{image}}) center/cover no-repeat;"><a href="{{url}}" title="Read more about '{{title}}'" class="listlink">
		{{title}}
		<time datetime="{{date format="DD MMM YYYY"}}">{{date format="YYYY/MM/DD"}}</time>
		<span class="post tags">{{tags separator=" " autolink="false" from="2"}}</span>
	</a></li>
	{{/foreach}}
</ol>

{{pagination}}
