{{!< default}}

{{#post}}

  <article class="{{post_class}}">
    <header>
      <div class="post meta">
        <time datetime="{{date format="YYYY-MM-DDTHH:MM"}}">{{date format="YYYY/MM/DD"}}</time>
		<p class="tags">
		  {{#foreach tags}}
	        <span class="tag">#{{name}}</span>
	      {{/foreach}}
		</p>
      </div>
	  <h1 id="post-title">{{title}}</h1>
	  <div id="post-social">
		<a title="Tweet '{{title}}'" href="https://twitter.com/intent/tweet?text={{encode title}}{{encode ' »'}}&amp;hashtags={{tags separator="," autolink="false"}}&amp;url={{url absolute="true"}}" class="icon-reverse icon-social-twitter-post" target="_blank"></a>
		<!--<a title="Tweet '{{title}}'" href="https://twitter.com/intent/tweet?text={{encode title}}{{encode ' »'}}&amp;hashtags={{tags separator="," autolink="false"}}&amp;url={{url absolute="true"}}" class="icon-reverse icon-social-twitter-post"></a>-->
	  </div>
    </header>

    <div id="post-content" class="{{post_class}}">
      {{content}}
    </div>

    <div class="post related">
      {{#prev_post}}
	  	{{#has tag="{{tag}}"}}
        	<a rel="prev" id="prev-btn" class="btn small square" href="{{url}}">← {{title}}</a>
		{{/has}}
	  {{/prev_post}}

      {{#next_post}}
        <a rel="next" id="next-btn" class="btn small square" href="{{url}}">{{title}} →</a>
      {{/next_post}}
    </div>

  </article>

{{/post}}
