{{!< default}}
<div class="{{tag.name}}">
	<h1 style="text-align: center; text-transform: capitalize;">{{tag.name}}</h1>
	<ol id="posts-list">
	  {{#foreach posts}}
	  <li style="background: #000 url({{image}}) center/cover no-repeat;"><a href="{{url}}" title="Read more about '{{title}}'" class="listlink">
	    <time datetime="{{date format="DD MMM YYYY"}}">{{date format="YYYY/MM/DD"}}</time>
	    {{title}}
		<p class="tags">
		  {{#foreach tags}}
	        <span class="tag">#{{name}}</span>
	      {{/foreach}}
		</p>
	  </a></li>
	  {{/foreach}}
	</ol>

	{{pagination}}
</div>
